<div class="col-lg-3 col-md-3 col-sm-3" id="locInfoBlock">
        <h1>Location&nbsp;Information</h1>
        <table id="results">
            <caption id="locNameTitle">Demographics</caption>
            <tr>
                <td>Country&colon;</td>
                <td id="locName"></td>
            </tr>
            <tr>
                <td>Country&nbsp;Capital&colon;</td>
                <td id="countryCapital"></td>
            </tr>
            <tr>
                <td>Geographic&nbsp;Capital&colon;</td>
                <td id="countryRegion"></td>
            </tr>
            <tr>
                <td>Waterfall&nbsp;Count&colon;</td>
                <td id="countryWaterfalls"></td>
            </tr>
            <tr>
                <td>Lake&nbsp;Count&colon;</td>
                <td id="countryLakes"></td>
            </tr>
            <tr>
                <td>Income&nbsp;Level&colon;</td>
                <td id="countryIncomeLevel"></td>
            </tr>
            
        </table>
</div>
