<div class="col-lg-3 col-md-3 col-sm-3" id="locInfoBlock">
        <h1>Location&nbsp;Information</h1>
        <table id="results" *ngFor="let countryDetail of countryData">
            <caption id="locNameTitle">Demographics</caption>
            <tr>
                <td>Country&colon;</td>
                <td>{{this.locName}}</td>
            </tr>
            <tr>
                <td>Country&nbsp;Capital&colon;</td>
                <td>{{countryCapital}}</td>
            </tr>
            <tr>
                <td>Geographic&nbsp;Capital&colon;</td>
                <td>{{countryRegion}}</td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td>{{countryLat}}</td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td>{{countryLong}}</td>
            </tr>
            <tr>
                <td>Income&nbsp;Level&colon;</td>
                <td>{{countryIncomeLevel}}</td>
            </tr>
            
        </table>
</div>
